.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  text-align: center;
  display: flex;
  margin: 10px 0;
}

.containerFieldsSettings {
  display: flex;
  flex-direction: column;
}

.containerAddButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.addButton {
  font-size: 15px;
  padding: 5px 10px;
}
