.formItemsContainer {
  display: flex;
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: column;

  select, input {
    width: 100%;
    box-sizing: border-box;
  }
}

.buttons {
  display: flex;
}
