.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
